$darkGray: #444f59;

body {
  margin: 0;
  padding: 0;
  //font-family: 'Lato', sans-serif;
  color: $darkGray;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  background-color: #D8E6E7;
  width: 0;
}

#contentContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  #happyHere {
    font-size: 3em;
    font-weight: 700;
    opacity:0;
  }
}



